

/* Structure of CSS document.

- CSS variable/property definitions
- Header properties
- About component properties
- Footer properties

*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* css variables/properties */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
  --background-black: #1A1A1D;
  --font-pink: #F64C72;
  --font-cream: rgb(223, 223, 223);

  --text-header: 'Shadows Into Light', cursive;
  --text-normal: 'Newsreader', serif;
}

.App {
  background-color: rgb(9, 12, 10);
}

/********************/
/* Header component */
/********************/

nav {
  background-color: rgb(20, 107, 20);
}

nav .navbar-brand {
  color: white !important;
  font-family: 'Alef', sans-serif;
  font-size: 40px;
  }

nav .navbar-nav li a {
  color: white !important;
  font-family: 'Alef', sans-serif;
  font-size: 20px;
}

/*******************/
/* About component */
/*******************/

#About * {
  border: 1px solid black;
  text-align: center;
}

#AboutMeContainer{
  display: flex;
  flex-direction: row;
}

#AboutMeImg {
  width: 35%;
  margin: auto;
  text-align: center;
}

#AboutMeImg img {
  border-radius: 5px;
}

#AboutMeText {
  width: 65%;
  padding: 5px;
}