

/* Structure of CSS document.

- CSS variable/property definitions
- Global styles
- Header properties
- About component properties
- Footer properties

*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* css variables/properties */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
  /* Colors */
  --background-black: #1A1A1D;
  --mainsection-gray: rgb(85, 85, 85);
  --font-pink: #F64C72;
  --font-cream: rgb(223, 223, 223);
  /* Styles */
  --text-header: 'Shadows Into Light', cursive;
  --text-normal: 'Newsreader', serif;
  /* Sizes */
  --text-header-size: 70px;
}

/*****************/
/* Global styles */
/*****************/

.App {background-color: var(--mainsection-gray)}

.App h1 {
  font-family: var(--text-header);
  color: var(--background-black);
  text-align: center;
  font-size: 70px;
  filter: drop-shadow(1px 1px 1px var(--font-cream));
}

.App h2 {
  font-family: var(--text-header);
  color: var(--background-black);
  text-align: center;
  font-size: 65px;
}

.App a, .App span { 
  color: var(--font-pink);
  text-decoration: none;
}

.App p {
  font-family: var(--text-normal)
}

.App td, .App th {
  color: var(--font-cream);
  border: none;
}

.App th {
  color: var(--font-pink);
}


/********************/
/* Header component */
/********************/

nav {
  background-color: var(--background-black);
}

nav .navbar-brand {
  color: var(--font-pink) !important;
  font-family: var(--text-header);
  font-size: 70px;
  margin-left: 150px;
  }

nav .navbar-nav li a {
  color: var(--font-pink) !important;
  font-family: var(--text-header);
  font-size: 40px;
  margin: 0 10px 0 10px;
}

/*******************/
/* About component */
/*******************/

#About  {
  text-align: center;
  margin: 30px 0 30px 0;
}

#AboutMeContainer{
  display: flex;
  flex-direction: row;
}

#AboutMeImg {
  width: 35%;
  margin: auto;
  text-align: center;
}

#AboutMeImg img {
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px black);
  height: 400px;
}

#AboutMeText {
  width: 65%;
  padding: 5px 30px 5px 5px;
  font-family: var(--text-normal);
  color: var(--font-cream);
  font-size: 25px;
}

/***********************/
/* Portfolio component */
/***********************/

#portfolioCardsHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--mainsection-gray);
}

/**************************/
/* Project Card Component */
/**************************/

.card {
  position: relative;
  width: 40%;
  margin: 10px;
}

.image {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;   
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--background-black);
}

.card:hover .overlay {
  opacity: .95;
}

.text {
  color: var(--font-pink);
  font-family: var(--text-normal);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*************************/
/* Single Page Component */
/*************************/

#singleProjectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 20px;
}

#singleProjectImg {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

#singleProjectImg img {
  width: auto;
  height: 500px;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px black);
  margin: 40px;
}

#singleProjectInfo {
  width: 40%;
}

#projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#singleProjectContainer p {
  padding: 0 10px 0 10px;
  margin: 0 5px 0 5px;
  border: 1px solid var(--font-cream);
  border-radius: 5px;
  background-color: var(--background-black);
  color: var(--font-pink);
  font-size: 20px;
  font-family: var(--text-normal)
}




/*********************/
/* Contact Component */
/*********************/

#contactItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contactItems a { margin: 0 10px 0 10px;}

#contactItems a:hover {
  background-color: var(--font-cream);
  border-radius: 50px;
}

#hoverText {
  text-align: center;
  font-size: 60px;
  color: var(--font-pink);
  font-family: var(--text-header);
}

form { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 60px 0 60px;
  color: var(--font-pink);
  font-family: var(--text-normal);
  font-size: 20px;
}

button { 
  background-color: var(--background-black);
  color: var(--font-pink);
}

/*****************/
/* Now Component */
/*****************/

#nowIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
}

#nowIntro{ 
  font-size: 25px;
  color: var(--font-cream);
}

#nowCategories{ 
  font-size: 20px;
  margin: 0 20px 0 20px;
}


/********************/
/* Footer Component */
/********************/

footer {
  background-color: var(--background-black);
  text-align: center;
  color: var(--font-cream);
  font-size: 25px;
  padding: 10px 0 10px 0;
  font-family: var(--text-normal);
}

#footerName {
  color: var(--font-pink);
  font-family: var(--text-header);
}
